this is the system {{ ansible_fqdn }}.
this is a {{ ansible_facts['distribution'] }} version
{{ ansible_facts['distribution_version'] }} system.
only use this system with permission
you ca request access from {{ system_owner }}
